body {
  background: #282828;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  position: relative;
}

.heading:after {
  background: none repeat scroll 0 0 #d02035;
  bottom: -30px;
  left: 16%;
  content: "";
  display: block;
  height: 10px;
  position: relative;
  width: 24%;
}

.inputFont {
  font-family: Merriweather;
  font-size: 16px;
  font-style: italic;
  color: #797979;
}

.paragraph {
  font-family: Merriweather;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: #ffffff;
}

.container {
  padding-top: 55px;
}
